<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Innovations Skins</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/lightslider.css">
	<link rel="sshortcut_icon" href="images/">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>

<body>
	<!--top navigation-->
	<nav>
		<div class="social-call">
			<div class="social">
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-whatsapp"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="phone">
				<span>Call #</span>
			</div>	
		</div>

		<div class="navigation">
			<a href="index.html" class="logo">
				<img src="images/logo.png">
			</a>
			<!--menu-icon-->
			<div class="toggle"></div>
			<!--menu-->
			<ul class="menu">
				<li><a href="arrival.html">New Arrivals</a>
					<span class="sale-lable">Sale</span>
				</li>
				<li><a href="#">Guides</a></li>
				<li><a href="index.html#review-jump">Reviews</a></li>
			</ul>
			<div class="right-menu">
				<a href="#">
					<i class="fas fa-shopping-cart">
						<span class="num-cart-product">0</span>
					</i>
				</a>
			</div>
		</div>
	</nav>

	<!--banner-->
	<div class="banner-box f-slide-4">
			<!--banner-text-container-->
			<div class="banner-text-container">
				<div class="banner-text">
					<span>Limited Offer</span>
					<strong>30% OFF<br> with <font>Promo Code</font></strong>
					<a href="#" class="banner-btn">Buy Now</a>
				</div>
		</div>
	</div>

	<!--section-1-->
	<section class="guide">
		<div class="guide-1">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="guide-2">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="guide-3">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="guide-4">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="guide-5">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="guide-6">
			<h2>###</h2>
			<img src="images/feature_6.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<div class="guide-text">
		<h2>Defining Beauty, Defining You!</h2>
	</div>

	<!--services-->
	<section class="services">
		<!--services-box-1-->
		<div class="services-box">
			<i class="fas fa-shipping-fast"></i>
			<span>Fast Shipping</span>
			<p>Faster in the UK</p>
		</div>
		<!--services-box-2-->
		<div class="services-box">
			<i class="fas fa-headphones-alt"></i>
			<span>Support 24/7</span>
			<p>We support 24 hours a day</p>
		</div>
		<!--services-box-3-->
		<div class="services-box">
			<i class="fas fa-sync"></i>
			<span>100% Money Back</span>
			<p>Free Return within 3 days</p>
		</div>
	</section>

	<!--footer-->
	<footer>
		<!--copyright-->
		<span class="copyright">
			&copy Copyright 2021 - NewInnovationsSkins
		</span>
		<!--subscribe-->
		<div class="subscribe">
			<form>
				<input type="email" placeholder="example@gmail.com" required="True">
				<input type="submit" value="Subsribe">
			</form>
		</div>
	</footer>



	<script src="js/JQuery.js"></script>
	<script src="js/lightslider.js"></script>
	<script type="text/javascript">	

		/*for-responsive-menu*/
		$(document).ready(function(){
			$('.toggle').click(function(){
				$('.toggle').toggleClass('active')
				$('.navigation').toggleClass('active')
			})
		})

		/*for-fix-menu-when-scrolling--*/
		$(window).scroll(function(){
			if($(document).scrollTop() > 50){
				$('.navigation').addClass('fix-nav');
			}
			else{
				$('.navigation').removeClass('fix-nav')
			}
		})
	</script>
</body>
</html>