<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Innovations Skins</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/lightslider.css">
	<link rel="sshortcut_icon" href="images/">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>

<body>
	<!--top navigation-->
	<nav>
		<div class="social-call">
			<div class="social">
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-whatsapp"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
			</div>
			<div class="phone">
				<span>Call #</span>
			</div>	
		</div>

		<div class="navigation">
			<a href="index.html" class="logo">
				<img src="images/logo.png">
			</a>
			<!--menu-icon-->
			<div class="toggle"></div>
			<!--menu-->
			<ul class="menu">
				<li><a href="arrival.html">New Arrivals</a>
					<span class="sale-lable">Sale</span>
				</li>
				<li><a href="guide.html	">Guides</a></li>
				<li><a href="#review-jump">Reviews</a></li>
			</ul>
			<div class="right-menu">
				<a href="javascript:void(0)" class="user"><i class="fas fa-user"></i></a>
				<a href="#">
					<i class="fas fa-shopping-cart">
						<span class="num-cart-product">0</span>
					</i>
				</a>
			</div>
		</div>
	</nav>
	</div>

	<!--Full Slider-->
	<ul id="adaptive" class="cs-hidden">
		<!--box-1-->
		<li class="item-a">
			<div class="full-slider-box f-slide-1">
				<!--slider-text-container-->
				<div class="slider-text-container">
					<div class="f-slider-text">
						<span>Limited Offer</span>
						<strong>30% OFF<br> with <font>Promo Code</font></strong>
						<a href="#" class="f-slider-btn">Buy Now</a>
					</div>
				</div>
			</div>
		</li>

		<!--box-2-->
		<li class="item-a">
			<div class="full-slider-box f-slide-2">
				<!--slider-text-container-->
				<div class="slider-text-container">
					<div class="f-slider-text">
						<span>Limited Offer</span>
						<strong>30% OFF<br> with <font>Promo Code</font></strong>
						<a href="#" class="f-slider-btn">Buy Now</a>
					</div>
				</div>
			</div>
		</li>

		<!--box-3-->
		<li class="item-a">
			<div class="full-slider-box f-slide-3">
				<!--slider-text-container-->
				<div class="slider-text-container">
					<div class="f-slider-text">
						<span>Limited Offer</span>
						<strong>30% OFF<br> with <font>Promo Code</font></strong>
						<a href="#" class="f-slider-btn">Buy Now</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
	
	<!--featured-categories-->
	<div class="feature-heading">
		<h2>Begin your Skin Care journey!</h2>
	</div>

	<ul id="autoWidth" class="cs-hidden">
		<!--1-->
		<li class="item">
			<!--feature-box-->
			<div class="feature-box">
				<a href="#">
					<img src="images/feature_1.jpg" alt=""> 
				</a>
			</div>
			<!--text-->
			<span>###</span>
		</li>

		<!--2-->
		<li class="item">
			<!--feature-box-->
			<div class="feature-box">
				<a href="#">
					<img src="images/feature_2.jpg" alt=""> 
				</a>
			</div>
			<!--text-->
			<span>###</span>
		</li>

		<!--3-->
		<li class="item">
			<!--feature-box-->
			<div class="feature-box">
				<a href="#">
					<img src="images/feature_3.jpg" alt=""> 
				</a>
			</div>
			<!--text-->
			<span>###</span>
		</li>

		<!--4-->
		<li class="item">
			<!--feature-box-->
			<div class="feature-box">
				<a href="#">
					<img src="images/feature_4.jpg" alt=""> 
				</a>
			</div>
			<!--text-->
			<span>###</span>
		</li>

		<!--5-->
		<li class="item">
			<!--feature-box-->
			<div class="feature-box">
				<a href="#">
					<img src="images/feature_5.jpg" alt=""> 
				</a>
			</div>
			<!--text-->
			<span>###</span>
		</li>
	</ul>

	<section class="sale">
		<!--sale-box-1-->
		<div class="sale-box">
			<!--img-->
			<img src="images/sale-1.jpg">
			<!--text-->
			<a href="#">
				<div class="sale-text">
					<strong>###</strong>
					<span>Sale OFF 20%</span>
				</div>
			</a>
		</div>
		<!--sale-box-2-->
		<div class="sale-box">
			<!--img-->
			<img src="images/sale-2.jpg">
			<!--text-->
			<a href="#">
				<div class="sale-text">
					<strong>###</strong>
					<span>Sale OFF 20%</span>
				</div>
			</a>
		</div>
		<!--sale-box-3-->
		<div class="sale-box">
			<!--img-->
			<img src="images/sale-3.jpg">
			<!--text-->
			<a href="#">
				<div class="sale-text">
					<strong>###</strong>
					<span>Sale OFF 20%</span>
				</div>
			</a>
		</div>
	</section>

	<section class="review">
		<div class="review-1">
			<h2><a name="review-jump">Shop with Trust</a></h2>
			<p>I don't usually review stuff on here but it's been about a week of using @niskin products and they made a huge difference in my skin. I was a bit skeptical at first but wow I was wrong.
			  <div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
		<div class="review-7">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	  		<div class="rate">
			    <input id="star4" name="rate" value="4" />
			    <label for="star4" title="text">4 stars</label>
			    <input id="star3" name="rate" value="3" />
			    <label for="star3" title="text">3 stars</label>
			    <input id="star2" name="rate" value="2" />
			    <label for="star2" title="text">2 stars</label>
			    <input id="star1" name="rate" value="1" />
			    <label for="star1" title="text">1 star</label>
			</div>
			</p>
		</div>
	</section>

	<!--banner-->
	<div class="banner-box f-slide-3">
			<!--banner-text-container-->
			<div class="banner-text-container">
				<div class="banner-text">
					<span>Limited Offer</span>
					<strong>30% OFF<br> with <font>Promo Code</font></strong>
					<a href="#" class="banner-btn">Buy Now</a>
				</div>
		</div>
	</div>

	<!--services-->
	<section class="services">
		<!--services-box-1-->
		<div class="services-box">
			<i class="fas fa-shipping-fast"></i>
			<span>Fast Shipping</span>
			<p>Faster in the UK</p>
		</div>
		<!--services-box-2-->
		<div class="services-box">
			<i class="fas fa-headphones-alt"></i>
			<span>Support 24/7</span>
			<p>We support 24 hours a day</p>
		</div>
		<!--services-box-3-->
		<div class="services-box">
			<i class="fas fa-sync"></i>
			<span>100% Money Back</span>
			<p>Free Return within 3 days</p>
		</div>
	</section>

	<!--footer-->
	<footer>
		<!--copyright-->
		<span class="copyright">
			&copy Copyright 2021 - NewInnovationsSkins
		</span>
		<!--subscribe-->
		<div class="subscribe">
			<form>
				<input type="email" placeholder="example@gmail.com" required="True">
				<input type="submit" value="Subsribe">
			</form>
		</div>
	</footer>



	<script src="js/JQuery.js"></script>
	<script src="js/lightslider.js"></script>
	<script type="text/javascript">
		$(document).on('click', '.user, .forget', function(){$('.form').addClass('login-active').removeClass('sign-up-active')});
		$(document).on('click', '.sign-up-btn', function(){$('.form').addClass('sign-up-active').removeClass('login-active')});
		$(document).on('click', '.form-cancel', function(){$('.form').removeClass('login-active').removeClass('sign-up-active')});

		/*full slider script--*/
		$(document).ready(function() {
    		$('#adaptive').lightSlider({
		        adaptiveHeight:true,
		        auto: true,
		        item:1,
		        slideMargin:0,
		        loop:true
		    });
		});

		/*Feature-slider*/
		$(document).ready(function(){
			$('#autoWidth').lightSlider({
				autoWidth: true,
				loop: true,
				onSliderLoad: function(){
					$('autoWidth').removeClass('cs-hidden')
				}
			})
		})

		/*for-fix-menu-when-scrolling--*/
		$(window).scroll(function(){
			if($(document).scrollTop() > 50){
				$('.navigation').addClass('fix-nav');
			}
			else{
				$('.navigation').removeClass('fix-nav')
			}
		})

		/*for-responsive-menu*/
		$(document).ready(function(){
			$('.toggle').click(function(){
				$('.toggle').toggleClass('active')
				$('.navigation').toggleClass('active')
			})
		})
	</script>
</body>
</html>